* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.logo {
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px 0px 10px 50px;
}

.poty--logo {
    display: inline;
    margin: 60px auto;
    padding: 20px;
}

.navBar {
    padding: 0px;
    margin: 0px 50px 0px 80px;
    position: sticky;
}

.modal-img {
    width: fit-content;
    height: 500px;
}

.carritoCompras {
    width: 20px;
    height: 20px;
}

.pasable {
    width: 100%;
    height: 700px;
}

.tituloBrand {
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.titulo-scroll {
    text-decoration: none;
    background-color: transparent;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.labelBrand {
    font-weight: bold;
    text-align: left;
    margin-left: 100px;
}

.contenedor-img {
    display: flex;
    justify-content: center;
}

.img--galeria {
    width: 300px;
    height: 300px;
}

.estilosDeporte {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.estilosDeporte-img {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
}

.futbol-label {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22pt;
    letter-spacing: 4.5;
}

.portada {
    margin-left: 50px;
    margin-bottom: 60px;
}

.texto-about {
    width: 80%;
    height: 350px;
    padding: 20px;
    margin: 0px auto;
    border-radius: 5px;
}

.texto-titulo {
    text-align: center;
    padding: 40px;
}

.texto-relleno {
    text-align: center;
}

.carroImg {
    height: 400px;
    object-fit: contain;
}

.contenedor-catalogo {
    margin: 30px;
}

.titulo--cactalogo {
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
}

.texto--carrousel {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22pt;
    font-weight: bold;
    background-color: white;
    opacity: .8;
    border-radius: 20px;
    padding: 10px;
}

.tarjeta {
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 100px;
}

.contenedor-carritocliente {
    width: 400px;
    height: 400px;
    display: inline-block;
    padding: 40px;
    margin: 10px 30px 150px;
}

.talle-input {
    width: 55px;
}